.mat-list-text p {
    color: white !important;
}

.user-profile{
  height: 200px;
  background-color: #1A237E;
}

.drawer-content {
  padding: 10px;
  min-height: calc(100vh - 230px);
  background-color: #404854;

  p {
    color: white;
  }
}
