<div class="user-profile">

</div>
<div class="drawer-content">
  <mat-nav-list>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['/']"
        (click)="drawerContent.toggle()">
        Início
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['usuario']"
        (click)="drawerContent.toggle()">
        Administrar Usuários
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['entidade']"
        (click)="drawerContent.toggle()">
        Administrar Entidade
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['categoria']"
        (click)="drawerContent.toggle()">
        Administrar Categoria
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['ramo_de_atividade']"
        (click)="drawerContent.toggle()">
        Administrar Ramo de Atividade
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['estabelecimento']"
        (click)="drawerContent.toggle()">
        Administrar Estabelecimento
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['contrato']"
        (click)="drawerContent.toggle()">
        Administrar Contrato
      </p>
    </mat-list-item>
    <mat-list-item>
      <p
        matLine
        [routerLink]="['relatorio']"
        (click)="drawerContent.toggle()">
        Relatorios
      </p>
    </mat-list-item>
  </mat-nav-list>
</div>
