<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="screen-title">
      <h3>
        {{ !!isUpdating ? 'Editar' : 'Adicionar' }} Benefício {{ benefit?.name }}<br/>
        para Ramo de Atividade {{ activityBranch.name }}
      </h3>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="backToBenefits()">
        Voltar
      </button>
      <button mat-stroked-button (click)="saveBenefit()">
          {{ !!isUpdating ? 'Editar' : 'Adicionar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm">
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome"
        formControlName="name"
        [(ngModel)]="benefit.name"
        type="text"
        name="name"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="startDate"
        [matDatepicker]="dpkStartDate"
        placeholder="Data de Início"
        [(ngModel)]="benefit.startDate">
      <mat-datepicker-toggle matSuffix [for]="dpkStartDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dpkStartDate></mat-datepicker>
    </mat-form-field>
    <div style="margin: 8px auto">
      <span style="font-size: 13px">Em Aberto&nbsp;&nbsp;</span>
      <mat-slide-toggle
        [(ngModel)]="validateDateOpen"
        formControlName="validateDateOpen"
        name="validateDateOpen"
        color="primary">
      </mat-slide-toggle>
    </div>
    <div *ngIf="!validateDateOpen">
      <mat-form-field>
        <input
          matInput
          formControlName="validateDate"
          [matDatepicker]="dpkValidateDate"
          placeholder="Data de Validade"
          [(ngModel)]="benefit.validateDate">
        <mat-datepicker-toggle matSuffix [for]="dpkValidateDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dpkValidateDate></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field class="form-field-full-width">
      <textarea
        matInput
        placeholder="Restrições"
        formControlName="restriction"
        [(ngModel)]="benefit.restriction"
        type="text"
        name="restriction"></textarea>
    </mat-form-field>
  </form>

</div>
