<div class="title-actions">
  <div class="actions">
    <button mat-stroked-button (click)="generateReport()" *ngIf="disableButtonReport">
      Gerar Relatório
    </button>
  </div>
</div>

<form [formGroup]="registerForm" class="login-form">

  <mat-form-field class="form-field-full-width">
    <mat-select
      placeholder="Tipo de Relatório"
      formControlName="reportType"
      (selectionChange)="changeReportType($event)"
      name="reportType">
      <mat-option
        *ngFor="let type of reportType"
        [value]="type">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field-full-width" *ngIf="reportValues">
    <mat-select
      placeholder="Finalidade do Relatório"
      formControlName="reportValue"
      (selectionChange)="changeReportValue($event)"
      name="reportValue">
      <mat-option
        *ngFor="let value of reportValues"
        [value]="value">
        {{ value.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<div class="report-view" *ngIf="entities">
  <div>
    <button (click)="exportToExcel(entities)">Exportar para Excel</button>
  </div>
  <app-report-entities [entities]="entities" *ngIf="showReportComponent('app-report-entities')"></app-report-entities>
  <app-report-users [users]="entities" *ngIf="showReportComponent('app-report-users')"></app-report-users>
  <app-report-contract [contracts]="entities" *ngIf="showReportComponent('app-report-contract')"></app-report-contract>
</div>
