
<div class="title-actions">
  <div *ngIf="!!entity" class="screen-title">
    <h1>
      {{ entity.fantasyName }}
    </h1>
  </div>
  <div class="actions">
    <button mat-stroked-button (click)="gotToEntties()">
      Voltar
    </button>
    <button mat-stroked-button (click)="gotToAffiliatedManage()">
      Adicionar Accosiado
    </button>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="aid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let row"> {{ row.aid }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
      <td mat-cell *matCellDef="let row"> {{ row.cpf }} </td>
    </ng-container>
    <ng-container matColumnDef="celphone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
      <td mat-cell *matCellDef="let row"> {{ row.celphone | mask: '(00) 0000-0000'}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
    </ng-container>
    <ng-container matColumnDef="subscribeDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Cadastro </th>
      <td mat-cell *matCellDef="let row"> {{ row.subscribeDate.toDate() | date: dateFormatPipe }} </td>
    </ng-container>
    <ng-container matColumnDef="cardDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Card </th>
      <td mat-cell *matCellDef="let row"> {{ row.cardDate.toDate() | date: dateFormatPipe }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
      <td mat-cell *matCellDef="let row"> {{ row.status ? 'Ativo' : 'Inativo' }} </td>
    </ng-container>
    <ng-container matColumnDef="observation">
      <th mat-header-cell *matHeaderCellDef> Observação </th>
      <td mat-cell *matCellDef="let row"> {{ row.observation }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let row" style="width: 40px">
        <button
          mat-button
          [matMenuTriggerFor]="actionMenu"
          [matMenuTriggerData]="{ affiliatedToAction: row }">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionMenu="matMenu" overlapTrigger="false">
          <ng-template matMenuContent let-affiliated="affiliatedToAction">
            <button mat-menu-item (click)="gotToAffiliatedManage(affiliated)">
              <mat-icon>edit</mat-icon>
              <span>Atualizar</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
