<ion-header>
  <ion-toolbar>
    <ion-title>Estabelecimentos</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="header-icon" name="funnel" autoHide="false"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let establishment of establishments; let estIdx = index">
      <ion-thumbnail slot="start">
        <ion-img [src]="establishment.urlLogo"></ion-img>
      </ion-thumbnail>
      <ion-label>{{ establishment.fantasyName }}</ion-label>
    </ion-item>
  </ion-list>
  <!--
  <ion-grid>
    <ion-row *ngFor="let establishment of establishments; let estIdx = index">
      <ion-col size="3" size-sm>
        <img
          [src]="sanitizer.bypassSecurityTrustResourceUrl(establishment.urlLogo)"
          width="100%"
          height="100%"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen/>
      </ion-col>
      <ion-col size="9" size-sm>
        <div>
          <h3 ion-text color="light">
            {{ establishment.fantasyName }}
          </h3>
        </div>
        <div>
          <h5 ion-text color="dark">
            {{ establishment.activityBranch.name }}
          </h5>
        </div>
        <div>
          <h5 ion-text color="dark">
            {{ establishment.category.name }}
          </h5>
        </div>
        <div>
          <p>{{
            establishment.location.address + ', ' +
            establishment.location.number + ' - '+
            establishment.location.neighborhood + ' - ' +
            establishment.location.city
          }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
