<h2 mat-dialog-title>Excluir estabelecimento ?</h2>

<mat-dialog-content>
  <p>Este estabelecimento contém outros estabelecimentos abaixo dele, deseja realmente excluir ? Isto excluirá os demais abaixo.</p>
  <p>
    <mat-select placeholder="Selecione a ação" [(ngModel)]="data.actionToDelete">
      <mat-option [value]="'sim'">
        Sim
      </mat-option>
      <mat-option [value]="'nao'">
        Não
      </mat-option>
    </mat-select>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Fechar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.actionToDelete" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
