<div [appLoader]="isLoading">
  <div class="title-actions">
    <div *ngIf="activityBranch.abid" class="screen-title">
      <h1>
        Benefícios para {{ activityBranch.name }}
      </h1>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="backToActivityBranch()">
        Voltar
      </button>
      <button mat-stroked-button (click)="goToBenefitManage()">
          Adicionar Benefício
      </button>
    </div>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
      </ng-container>

      <ng-container matColumnDef="restriction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Restrições </th>
        <td mat-cell *matCellDef="let row"> {{ row.restriction }} </td>
      </ng-container>

      <ng-container matColumnDef="subscribeDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Cadastro </th>
        <td mat-cell *matCellDef="let row"> {{ row.subscribeDate.toDate() | date: dateFormatPipe }} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Início </th>
        <td mat-cell *matCellDef="let row"> {{ row.startDate.toDate() | date: dateFormatPipe }} </td>
      </ng-container>

      <ng-container matColumnDef="validateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Validade </th>
        <td mat-cell *matCellDef="let row"> {{ (!row.validateDate || row.validateDate === '') ? '' : row.validateDate.toDate() | date: dateFormatPipe }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
        <td mat-cell *matCellDef="let row" style="width: 40px">
          <button mat-button [matMenuTriggerFor]="actionMenu" [matMenuTriggerData]="{ benefitToAction: row }">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #actionMenu="matMenu" overlapTrigger="false">
            <ng-template matMenuContent let-benefit="benefitToAction">
              <button mat-menu-item (click)="goToBenefitManage(benefit)">
                <mat-icon>edit</mat-icon>
                <span>Atualizar</span>
              </button>
              <button mat-menu-item (click)="deleteBenefit(benefit)">
                <mat-icon>delete</mat-icon>
                <span>Excluir</span>
              </button>
            </ng-template>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
