<div class="title-actions">
  <div class="actions">
    <button mat-stroked-button (click)="openUserMenageView()">
      Adicionar Usuário
    </button>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row"> {{ row.displayName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
    </ng-container>

    <ng-container matColumnDef="permissions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Permissões </th>
      <td mat-cell *matCellDef="let row" style="width: 40px">
          <button
            mat-button
            [matMenuTriggerFor]="permissionMenu"
            [matMenuTriggerData]="{ permissions: row.permissions }">
            Ver Permissões
          </button>

          <mat-menu #permissionMenu="matMenu" overlapTrigger="false">
            <ng-template matMenuContent let-permission="permissions">
                <mat-list>
                  <mat-list-item>
                    <span>Pode Editar&nbsp;&nbsp;</span>
                    <mat-slide-toggle
                      color="primary"
                      [checked]="permission.canEdit">
                    </mat-slide-toggle>
                  </mat-list-item>
                  <mat-list-item>
                    <span>Pode Incluir&nbsp;&nbsp;</span>
                    <mat-slide-toggle
                    color="primary"
                    [checked]="permission.canInclude">
                    </mat-slide-toggle>
                  </mat-list-item>
                  <mat-list-item>
                    <span>Pode Visualizar&nbsp;&nbsp;</span>
                    <mat-slide-toggle
                    color="primary"
                    [checked]="permission.canView">
                    </mat-slide-toggle>
                  </mat-list-item>
                </mat-list>
            </ng-template>
          </mat-menu>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let row" style="width: 40px">
        <button
          mat-button
          [matMenuTriggerFor]="actionMenu"
          [matMenuTriggerData]="{ userAction: row }">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionMenu="matMenu" overlapTrigger="false">
          <ng-template matMenuContent let-user="userAction">
            <button mat-menu-item (click)="openUserMenageView(user)">
              <mat-icon>edit</mat-icon>
              <span>Atualizar</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
