<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="screen-title">
      <h1>
        {{ !!isUpdating ? 'Editar' : 'Adicionar' }} Contrato {{ !!isUpdating ? contract.cid : '' }}
      </h1>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="goTo('/inicio/contrato')">
        Voltar
      </button>
      <button mat-stroked-button (click)="saveContract()">
          {{ !!isUpdating ? 'Editar' : 'Adicionar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome"
        formControlName="name"
        [(ngModel)]="contract.name"
        type="text"
        name="name">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Observações"
        formControlName="observations"
        [(ngModel)]="contract.observations"
        type="text"
        name="observations"
        required>
    </mat-form-field>

    <div class="form-field-full-width">
      <span>Empresas</span>
    </div>

    <div
      class="form-field-full-width"
      *ngFor="let establishment of establishments">
      <mat-checkbox
        [checked]="establishment.checked"
        (change)="establishmentChange(establishment, $event)">
        {{ establishment.fantasyName }}
      </mat-checkbox>
    </div>

    <mat-form-field>
      <input
        matInput
        formControlName="subscribeDate"
        [matDatepicker]="dpkSubscribeDate"
        placeholder="Data de Início"
        [(ngModel)]="contract.subscribeDate">
      <mat-datepicker-toggle matSuffix [for]="dpkSubscribeDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dpkSubscribeDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="validateDate"
        [matDatepicker]="dpkValidateDate"
        placeholder="Data de Fim"
        [(ngModel)]="contract.validateDate">
      <mat-datepicker-toggle matSuffix [for]="dpkValidateDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dpkValidateDate></mat-datepicker>
    </mat-form-field>
  </form>
</div>
