<h2 mat-dialog-title>Excluir contrato ?</h2>

<mat-dialog-content>
  <p>Este contrato contém estabelecimentos cadastrados, qual ação você gostaria de fazer ?</p>
  <p>
    <mat-select placeholder="Selecione a ação" [(ngModel)]="data.actionToDelete">
      <mat-option [value]="'deleteOnlyContract'">
        Excluir somente o contrato
      </mat-option>
      <mat-option [value]="'deleteContractAndEstablishments'">
        Excluir o contrato e os Estabelecimentos
      </mat-option>
    </mat-select>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Fechar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.actionToDelete" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
