.loader-container {
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,0.9);
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  z-index: 9;

  .loader-animation {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 70px;
    text-align: center;
  }
}
