<ion-content padding center text-center>

  <ion-title>Memebrbook</ion-title>

  <ion-list>
    <ion-item>
      <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Senha" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="full"
    (click)="login()">
    Entrar
  </ion-button>
  <ion-button
    expand="full"
    color="light"
    fill="outline"
    color="light">
    Esqueci minha senha
  </ion-button>
</ion-content>
