<table id="reportEntities">
  <tr>
    <td>Eid</td>
    <td>Ename</td>
    <td>Esal</td>
  </tr>
  <tr *ngFor="let item of entities">
    <td>{{item.eid}}</td>
    <td>{{item.socialName}}</td>
    <td>{{item.cnpj}}</td>
  </tr>
</table>
