<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="screen-title">
      <h1>
        {{ !!isUpdating ? 'Editar' : 'Adicionar' }} Categoria {{ category.name }}
      </h1>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="backToCategories()">
        Voltar
      </button>
      <button mat-stroked-button (click)="saveCategory()">
          {{ !!isUpdating ? 'Editar' : 'Adicionar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">
    <mat-form-field class="form-field-full-width" style="display: none">
      <input
        matInput
        placeholder="Código"
        formControlName="cid"
        [(ngModel)]="category.cid"
        type="text"
        name="cid">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome"
        formControlName="name"
        [(ngModel)]="category.name"
        type="text"
        name="name"
        required>
    </mat-form-field>
  </form>
</div>