<mat-toolbar color="primary" class="menu mat-elevation-z5">
  <mat-toolbar-row>
    <button
      type="button"
      mat-button
      class="menu-button-toogle-drawer"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Pitagoras</span>
    <span class="fill-remaining-space"></span>
    <div class="user-logout">
      <span>{{ user?.displayName }}</span>
      <button
        mat-button
        class="menu-button-toogle-drawer"
        (click)="logOut()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
