<ul class="breadcrumb">
  <li *ngFor="let breadcrumbItem of routerList">
    <a *ngIf="breadcrumbItem.isFirstItem"
      [routerLink]="[ breadcrumbItem.path ]"
      routerLinkActive="active">
      <i class="material-icons">home</i>
    </a>
    <a *ngIf="!breadcrumbItem.isLastItem && breadcrumbItem.display !== 'inicio'"
      [routerLink]="[ breadcrumbItem.path ]"
      routerLinkActive="active">
        &nbsp;/&nbsp;{{ breadcrumbItem.display }}
    </a>
    <a *ngIf="breadcrumbItem.isLastItem">
        &nbsp;/&nbsp;{{ breadcrumbItem.display }}
    </a>
  </li>
</ul>
