.breadcrumb {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 10px;
  background-color: #E8EAF6;
  font-size: 15px;
  li {
    float: left;

    a {
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }
  .material-icons {
    font-size: 19px;
  }
}
