<mat-drawer-container class="drawer-container" autosize>

  <mat-drawer #drawerContent class="drawer" mode="side">
    <app-drawer [drawerContent]="drawerContent"></app-drawer>
  </mat-drawer>

  <app-menu-bar [user]="user" [drawer]="drawerContent"></app-menu-bar>

  <app-bradcrumb></app-bradcrumb>

  <div class="system-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
