<div *ngIf="currentUpload">
  <div class="progress" *ngIf="uploadProgress">
    <mat-progress-bar mode="determinate" value="uploadProgress"></mat-progress-bar>
  </div>
  Progress: {{ uploadFile?.name }} | {{ uploadProgress }}% Complete
</div>

<div *ngIf="mode === 'single'">
  <input
    id="fileToUploadSingle"
    type="file"
    (change)="detectFiles($event)">

  <button
    mat-button
    color="primary"
    [disabled]="!selectedFiles"
    (click)="uploadSingle()">
    Upload
  </button>
</div>

<div *ngIf="mode === 'multiple'">
    <button
    mat-fab color="primary"
    type="button"
    onclick="document.getElementById('fileToUploadMultiple').click()">
    <label for="fileToUploadMultiple">
      <mat-icon>add</mat-icon>
    </label>
  </button>
  <input
    id="fileToUploadMultiple"
    type="file"
    style="display:none"
    (change)="detectFiles($event)"
    multiple>

  <button
    mat-button
    color="primary"
    [disabled]="!selectedFiles"
    (click)="uploadMulti()">
    Upload
  </button>
</div>
