<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="actions">
      <button
        mat-button
        (click)="goTo('/inicio/estabelecimento')">
        Voltar
      </button>
      <button
        mat-button
        (click)="saveEstablishment()">
        {{ !isUpdating ? 'Salvar' : 'Editar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">
    <div class="form-field-full-width">
      <span>Empresa Filha&nbsp;&nbsp;</span>
      <mat-slide-toggle
        formControlName="hasEstablishmentParent"
        name="hasEstablishmentParent"
        [(ngModel)]="hasEstablishmentParent"
        (change)="onChangeEstablishmentChildren($event)"
        color="primary">
      </mat-slide-toggle>
    </div>

    <mat-form-field class="form-field-full-width" *ngIf="isEstablishmentChildren">
      <mat-select
        placeholder="Estabelecimento Pai"
        formControlName="estParent"
        (selectionChange)="changeEstablishmentChildren($event)"
        name="estParent"
        [(ngModel)]="establishmentParent"
        [compareWith]="compareFnEstablishmentParent">
        <mat-option
          *ngFor="let estPrt of establishmentsParent"
          [value]="estPrt">
          {{ estPrt.fantasyName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-field-full-width">
      <div *ngIf="hasLogo">
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(establishment.urlLogo)" width="640" height="360" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen/>
      </div>
      <div>
        <app-upload-from
          [mode]="uploadMode"
          [folderToUpload]="environment.fordersToUpload.entityLogo"
          (uploadComplete)="onUploadLogoComplete($event)"></app-upload-from>
      </div>
    </div>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Responsável"
        formControlName="accountable"
        [(ngModel)]="establishment.accountable"
        type="text"
        name="accountable"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <mat-select
        placeholder="Ramo de Atividade"
        formControlName="activityBranch"
        [(value)]="establishment.activityBranch"
        (selectionChange)="changeActivityBranch($event)"
        name="activityBranch"
        [compareWith]="compareFnActivityBranch"
        required>
        <mat-option
          *ngFor="let actBranch of activitiesBranch"
          [value]="actBranch">
          {{ actBranch.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-field-full-width">
      <span>Benefícios</span>
    </div>

    <div
      class="form-field-full-width"
      *ngFor="let benefit of benefits">
      <mat-checkbox
        [checked]="benefit.checked"
        (change)="benefitsChange(benefit, $event)">
          {{ benefit.name }}
      </mat-checkbox>
    </div>

    <mat-form-field class="form-field-full-width">
      <mat-select
        placeholder="Categoria"
        formControlName="category"
        [(ngModel)]="establishment.category"
        (selectionChange)="changeCategory($event)"
        [compareWith]="compareFnCategory"
        name="category"
        required>
        <mat-option
          *ngFor="let cat of categories"
          [value]="cat">
          {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Celular"
        formControlName="celphone"
        [(ngModel)]="establishment.celphone"
        type="tel"
        name="celphone"
        mask="(00)00000-0000"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="CNPJ"
        formControlName="cnpj"
        [(ngModel)]="establishment.cnpj"
        name="cnpj"
        mask="00.000.000/0000-00"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="E-Mail"
        formControlName="email"
        [(ngModel)]="establishment.email"
        type="email"
        name="email"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome Fantasia"
        formControlName="fantasyName"
        [(ngModel)]="establishment.fantasyName"
        type="text"
        name="fantasyName"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Razão Social"
        formControlName="socialName"
        [(ngModel)]="establishment.socialName"
        type="text"
        name="socialName"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Site"
        formControlName="site"
        [(ngModel)]="establishment.site"
        type="text"
        name="site"
        required>
    </mat-form-field>

    <div class="form-field-full-width">
      <span>Telefone 0800&nbsp;&nbsp;</span>
      <mat-slide-toggle
        formControlName="hasTel0800"
        name="hasTel0800"
        [(ngModel)]="hasTel0800"
        (change)="onChangeEstablishmentTell0800($event)"
        color="primary">
      </mat-slide-toggle>
    </div>

    <mat-form-field class="form-field-full-width" *ngIf="!isTel0800">
      <input
        matInput
        placeholder="Telefone"
        formControlName="telephone"
        [(ngModel)]="establishment.telephone"
        type="tel"
        name="telephone"
        mask="(00)0000-0000"
        required>
    </mat-form-field>

    <mat-form-field class="form-field-full-width" *ngIf="isTel0800">
      <input
        matInput
        placeholder="Telefone"
        formControlName="telephone"
        [(ngModel)]="establishment.telephone"
        type="tel"
        name="telephone"
        required>
    </mat-form-field>

    <mat-expansion-panel [expanded]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Localização
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="País"
          formControlName="country"
          [(ngModel)]="location.country"
          type="text"
          name="country"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Estado"
          formControlName="state"
          [(ngModel)]="location.state"
          type="text"
          name="state"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="UF"
          formControlName="stateId"
          [(ngModel)]="location.stateId"
          type="text"
          name="stateId"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Cidade"
          formControlName="city"
          [(ngModel)]="location.city"
          type="text"
          name="city"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Bairro"
          formControlName="neighborhood"
          [(ngModel)]="location.neighborhood"
          type="text"
          name="neighborhood"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Endereço"
          formControlName="address"
          [(ngModel)]="location.address"
          type="text"
          name="address"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Número"
          formControlName="number"
          [(ngModel)]="location.number"
          type="text"
          name="number"
          required
          (keyup.enter)="getAddressFromGeocode()">
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Complemento"
          formControlName="adjunct"
          [(ngModel)]="location.adjunct"
          type="text"
          name="adjunct">
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="CEP"
          formControlName="zipCode"
          [(ngModel)]="location.zipCode"
          type="number"
          name="zipCode"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Latitude"
          formControlName="latitude"
          [(ngModel)]="latitude"
          type="text"
          name="latitude"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Longitude"
          formControlName="longitude"
          [(ngModel)]="longitude"
          type="text"
          name="longitude"
          required>
      </mat-form-field>

      <div class="map">
        <agm-map
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="14"
          (mapClick)="onClickSomePlace($event)">
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude">
          </agm-marker>
        </agm-map>
      </div>

    </mat-expansion-panel>

  </form>
</div>
