<div class="title-actions">
  <div class="actions">
    <button mat-stroked-button (click)="goToManageEstablishment()">
      Adicionar Estabelecimento
    </button>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="accountable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
      <td mat-cell *matCellDef="let row"> {{ row.accountable }} </td>
    </ng-container>

    <ng-container matColumnDef="activityBranch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ramo de Atividade </th>
      <td mat-cell *matCellDef="let row"> {{ row.activityBranch.name }} </td>
    </ng-container>

    <ng-container matColumnDef="benefits">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Benefícios </th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-button
          [matMenuTriggerFor]="benefitMenu"
          [matMenuTriggerData]="{ benefits: row.benefits }">
          Visualizar
        </button>

        <mat-menu #benefitMenu="matMenu" overlapTrigger="false">
          <ng-template matMenuContent let-benefits="benefits">
            <div class="benfit-detail">
              <ul *ngFor="let benefit of benefits">
                <li><b>Ramo de Atividade:</b> {{ benefit.name }}</li>
                <li><b>Restrições:</b> {{ benefit.restriction }}</li>
                <li><b>Data de Início:</b> {{ benefit.startDate.toDate() | date: dateFormatPipe  }}</li>
                <li><b>Data de Fim:</b> {{ benefit.validateDate.toDate() | date: dateFormatPipe  }}</li>
              </ul>
            </div>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
      <td mat-cell *matCellDef="let row"> {{ row.category.name }} </td>
    </ng-container>

    <ng-container matColumnDef="celphone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
      <td mat-cell *matCellDef="let row"> {{ row.celphone }} </td>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CNPJ </th>
      <td mat-cell *matCellDef="let row"> {{ row.cnpj }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EMail </th>
      <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
    </ng-container>

    <ng-container matColumnDef="fantasyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Fantasia </th>
      <td mat-cell *matCellDef="let row"> {{ row.fantasyName }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.location.address + ', ' +
          row.location.number + ' - '+
          row.location.neighborhood + ' - ' +
          row.location.city
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let row" style="width: 40px">
        <button
          mat-button
          [matMenuTriggerFor]="actionMenu"
          [matMenuTriggerData]="{ establishmentToAction: row }">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionMenu="matMenu" overlapTrigger="false">
          <ng-template matMenuContent let-establishment="establishmentToAction">
            <button mat-menu-item (click)="goToManageEstablishment(establishment)">
              <mat-icon>edit</mat-icon>
              <span>Atualizar</span>
            </button>
            <button mat-menu-item (click)="deleteEstablishment(establishment)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
