.login-card {
  margin: 50px auto auto auto;
  width: 300px;
}

.login-form {
  width: 100%;
}

.login-button-container {
  display: flex;
  align-items: flex-start;

  .login-button {
    margin-left: auto;
    margin-right: 0;
  }
}
