<mat-card class="login-card" [appLoader]="isLoading">
  <mat-card-header>
    <mat-card-title>
      <h1>Login</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form" [formGroup]="registerForm" (logOn)="logOn()">
      <mat-form-field class="form-field-full-width">
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email" type="email" name="email"
          required>
      </mat-form-field>
      <mat-form-field class="form-field-full-width">
        <input matInput placeholder="Senha" formControlName="password" [(ngModel)]="password" type="password" name="password"
          required>
      </mat-form-field>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="login-button-container">
    <button mat-raised-button (click)="logOn()" color="primary" class="login-button" [disabled]="isLoading">
      Login
    </button>
  </mat-card-actions>
</mat-card>
