<ion-header>
  <ion-toolbar>
    <ion-title>Memberbook</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="header-icon" name="contact" [routerLink]="['/login']" autoHide="false"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <div id="map_canvas">
      <ion-button ion-button (click)="onButtonClick()">Demo</ion-button>
    </div>
  </ion-content>
</ion-content>
