<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="screen-title">
      <h1>
        {{ !!isUpdating ? 'Editar' : 'Adicionar' }} Ramo de Atividade {{ activityBranch.name }}
      </h1>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="backToActivityBranch()">
        Voltar
      </button>
      <button mat-stroked-button (click)="saveActivityBranch()">
          {{ !!isUpdating ? 'Editar' : 'Adicionar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">
    <mat-form-field class="form-field-full-width" style="display: none">
      <input
        matInput
        placeholder="Código"
        formControlName="abid"
        [(ngModel)]="activityBranch.abid"
        type="text"
        name="abid">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome"
        formControlName="name"
        [(ngModel)]="activityBranch.name"
        type="text"
        name="name"
        required>
    </mat-form-field>
  </form>
</div>