<div [appLoader]="isLoading">
  <div class="title-actions">
    <div *ngIf="!!entity" class="screen-title">
      <h1>
        {{ !!isUpdating ? 'Editar' : 'Adicionar' }} Associado - {{ entity.fantasyName }}
      </h1>
    </div>
    <div class="actions">
      <button mat-stroked-button (click)="backToAffiliateds()">
        Voltar
      </button>
      <button mat-stroked-button (click)="saveAffiliated()">
          {{ !!isUpdating ? 'Editar' : 'Adicionar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">
    <div style="margin: 8px auto">
      <span>É Administrador&nbsp;&nbsp;</span>
      <mat-slide-toggle
        [(ngModel)]="affiliated.isAdmin"
        formControlName="isAdmin"
        name="isAdmin"
        color="primary">
      </mat-slide-toggle>
    </div>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome"
        formControlName="name"
        [(ngModel)]="affiliated.name"
        type="text"
        name="name"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="CPF"
        formControlName="cpf"
        [(ngModel)]="affiliated.cpf"
        type="text"
        name="cpf"
        mask="000.000.000-00"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Celular"
        formControlName="celphone"
        [(ngModel)]="affiliated.celphone"
        type="tel"
        name="celphone"
        mask="(00)00000-0000"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        [(ngModel)]="affiliated.email"
        type="email"
        name="email"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        formControlName="subscribeDate"
        [matDatepicker]="dpkSubscribeDate"
        placeholder="Data de Cadastro"
        [(ngModel)]="affiliated.subscribeDate">
      <mat-datepicker-toggle matSuffix [for]="dpkSubscribeDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dpkSubscribeDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        formControlName="cardDate"
        [matDatepicker]="dpkCardDate"
        placeholder="Card"
        [(ngModel)]="affiliated.cardDate">
      <mat-datepicker-toggle matSuffix [for]="dpkCardDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dpkCardDate></mat-datepicker>
    </mat-form-field>
    <div class="form-field-full-width">
      <span>Situação&nbsp;&nbsp;</span>
      <mat-slide-toggle
        [(ngModel)]="affiliated.status"
        formControlName="status"
        name="status"
        color="primary">
      </mat-slide-toggle>
    </div>
    <mat-form-field class="form-field-full-width">
      <textarea
        matInput
        placeholder="Observações"
        formControlName="observation"
        [(ngModel)]="affiliated.observation"
        type="text"
        name="observation"></textarea>
    </mat-form-field>
  </form>
</div>
