<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="actions">
      <button mat-stroked-button (click)="goToManageContract()">
        Adicionar Contrato
      </button>
    </div>
  </div>

  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filtro"
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="observations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Observações</th>
        <td mat-cell *matCellDef="let row">{{ row.observations }}</td>
      </ng-container>

      <ng-container matColumnDef="subscribeDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Data de Cadastro
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.subscribeDate.toDate() | date: dateFormatPipe }}
        </td>
      </ng-container>

      <ng-container matColumnDef="validateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Data de Validade
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.validateDate.toDate() | date: dateFormatPipe }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
        <td mat-cell *matCellDef="let row" style="width: 40px">
          <button
            mat-button
            [matMenuTriggerFor]="actionMenu"
            [matMenuTriggerData]="{ contractToAction: row }"
          >
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #actionMenu="matMenu" overlapTrigger="false">
            <ng-template matMenuContent let-contract="contractToAction">
              <button mat-menu-item (click)="goToManageContract(contract)">
                <mat-icon>edit</mat-icon>
                <span>Atualizar</span>
              </button>
              <button mat-menu-item (click)="deleteContract(contract)">
                <mat-icon>delete</mat-icon>
                <span>Excluir</span>
              </button>
            </ng-template>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
