<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="actions">
      <button
        mat-button
        (click)="goTo('/inicio/entidade')">
        Voltar
      </button>
      <button
        mat-button
        (click)="saveEntity()">
        {{ !isUpdating ? 'Salvar' : 'Editar' }}
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">

    <div class="form-field-full-width">
      <div *ngIf="hasLogo">
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(entity.urlLogo)" width="640" height="360" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen/>
      </div>
      <div>
        <app-upload-from
          [mode]="uploadMode"
          [folderToUpload]="environment.fordersToUpload.entityLogo"
          (uploadComplete)="onUploadLogoComplete($event)"></app-upload-from>
      </div>
    </div>

    <div *ngIf="isUpdating" class="form-field-full-width">
      <span>Situação&nbsp;&nbsp;</span>
      <mat-slide-toggle
        [(ngModel)]="entity.status"
        formControlName="status"
        name="status"
        color="primary">
      </mat-slide-toggle>
    </div>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="CNPJ"
        formControlName="cnpj"
        [(ngModel)]="entity.cnpj"
        type="text"
        name="cnpj"
        mask="00.000.000/0000-00"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Razão Social"
        formControlName="socialName"
        [(ngModel)]="entity.socialName"
        type="text"
        name="socialName"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome Fantasia"
        formControlName="fantasyName"
        [(ngModel)]="entity.fantasyName"
        type="text"
        name="fantasyName"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Responsável"
        formControlName="accountable"
        [(ngModel)]="entity.accountable"
        type="text"
        name="accountable"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="email"
        formControlName="email"
        [(ngModel)]="entity.email"
        type="text"
        name="email"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Telefone"
        formControlName="telephone"
        [(ngModel)]="entity.telephone"
        type="text"
        name="telephone"
        mask="(00)0000-0000"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Celular"
        formControlName="celphone"
        [(ngModel)]="entity.celphone"
        type="text"
        name="celphone"
        mask="(00)00000-0000"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="subscribeDate"
        [matDatepicker]="dpkSubscribeDate"
        placeholder="Data de Inscrição"
        [(ngModel)]="entity.subscribeDate">
      <mat-datepicker-toggle matSuffix [for]="dpkSubscribeDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #dpkSubscribeDate></mat-datepicker>
    </mat-form-field>

    <div style="margin: 8px auto">
      <span style="font-size: 13px">Em Aberto&nbsp;&nbsp;</span>
      <mat-slide-toggle
        [(ngModel)]="expirationDateOpen"
        formControlName="expirationDateOpen"
        name="status"
        color="primary">
      </mat-slide-toggle>
    </div>

    <div *ngIf="!expirationDateOpen">
      <mat-form-field>
        <input
          matInput
          formControlName="expirationDate"
          [matDatepicker]="dpkExpirationDate"
          placeholder="Data de Encerramento"
          [(ngModel)]="entity.expirationDate">
        <mat-datepicker-toggle matSuffix [for]="dpkExpirationDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dpkExpirationDate></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field class="form-field-full-width">
      <textarea
        matInput
        placeholder="Observações"
        formControlName="observation"
        [(ngModel)]="entity.observation"
        name="observation">
      </textarea>
    </mat-form-field>

    <mat-expansion-panel [expanded]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Localização
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="País"
          formControlName="country"
          [(ngModel)]="location.country"
          type="text"
          name="country"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Estado"
          formControlName="state"
          [(ngModel)]="location.state"
          type="text"
          name="state"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="UF"
          formControlName="stateId"
          [(ngModel)]="location.stateId"
          type="text"
          name="stateId"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Cidade"
          formControlName="city"
          [(ngModel)]="location.city"
          type="text"
          name="city"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Bairro"
          formControlName="neighborhood"
          [(ngModel)]="location.neighborhood"
          type="text"
          name="neighborhood"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Endereço"
          formControlName="address"
          [(ngModel)]="location.address"
          type="text"
          name="address"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Número"
          formControlName="number"
          [(ngModel)]="location.number"
          type="text"
          name="number"
          (keyup.enter)="getAddressFromGeocode()"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Complemento"
          formControlName="adjunct"
          [(ngModel)]="location.adjunct"
          type="text"
          name="text">
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="CEP"
          formControlName="zipCode"
          [(ngModel)]="location.zipCode"
          type="number"
          name="zipCode"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Latitude"
          formControlName="latitude"
          [(ngModel)]="latitude"
          type="text"
          name="latitude"
          required>
      </mat-form-field>

      <mat-form-field class="form-field-full-width">
        <input
          matInput
          placeholder="Longitude"
          formControlName="longitude"
          [(ngModel)]="longitude"
          type="text"
          name="longitude"
          required>
      </mat-form-field>

      <div class="map">
        <agm-map
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="14"
          (mapClick)="onClickSomePlace($event)">
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude">
          </agm-marker>
        </agm-map>
      </div>

    </mat-expansion-panel>

  </form>
</div>
