<div [appLoader]="isLoading">
  <div class="title-actions">
    <div class="actions">
      <button mat-stroked-button (click)="backToUser()">
        Voltar
      </button>
      <button *ngIf="isEditingUser" mat-stroked-button (click)="editUser()">
        Editar
      </button>
      <button *ngIf="!isEditingUser" mat-stroked-button (click)="saveUser()">
        Adicionar
      </button>
    </div>
  </div>

  <form [formGroup]="registerForm" class="login-form">
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Nome"
        formControlName="displayName"
        [(ngModel)]="user.displayName"
        type="text"
        name="displayName"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        [(ngModel)]="user.email"
        type="text"
        name="email"
        required>
    </mat-form-field>
    <mat-form-field class="form-field-full-width">
      <input
        matInput
        placeholder="Senha"
        formControlName="password"
        [(ngModel)]="user.password"
        type="password"
        name="password"
        required>
    </mat-form-field>
    <mat-expansion-panel [expanded]="true" [hideToggle]="true" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Permissões
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <span>Pode Editar&nbsp;&nbsp;</span>
          <mat-slide-toggle
            [(ngModel)]="user.permissions.canEdit"
            formControlName="canEdit"
            name="canEdit"
            color="primary"
            (change)="onChangeCanEdit($event)">
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <span>Pode Incluir&nbsp;&nbsp;</span>
          <mat-slide-toggle
            [(ngModel)]="user.permissions.canInclude"
            formControlName="canInclude"
            name="canInclude"
            color="primary"
            (change)="onChangeCanInclude($event)">
          </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
          <span>Pode Visualizar&nbsp;&nbsp;</span>
          <mat-slide-toggle
            [(ngModel)]="user.permissions.canView"
            formControlName="canView"
            name="canView"
            color="primary"
            (change)="onChangeCanView($event)">
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </form>
</div>
