<div class="title-actions">
  <div class="actions">
    <button mat-stroked-button (click)="goToManageCategory()">
      Adicionar Categoria
    </button>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let row" style="width: 40px">
        <button mat-button
          [matMenuTriggerFor]="actionMenu" [matMenuTriggerData]="{ categoryToAction: row }">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionMenu="matMenu" overlapTrigger="false">
          <ng-template matMenuContent let-category="categoryToAction">
            <button mat-menu-item (click)="goToManageCategory(category)">
              <mat-icon>edit</mat-icon>
              <span>Atualizar</span>
            </button>
            <button mat-menu-item (click)="deleteCategory(category)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
