
<div class="title-actions">
  <div class="actions">
    <button mat-stroked-button (click)="goToManageEntity()">
      Adicionar Entidade
    </button>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CNPJ </th>
      <td mat-cell *matCellDef="let row"> {{ row.cnpj | mask: '00.000.000/0000-00' }} </td>
    </ng-container>

    <ng-container matColumnDef="socialName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Razão Social </th>
      <td mat-cell *matCellDef="let row"> {{ row.socialName }} </td>
    </ng-container>

    <ng-container matColumnDef="fantasyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Fantasia </th>
      <td mat-cell *matCellDef="let row"> {{ row.fantasyName }} </td>
    </ng-container>

    <ng-container matColumnDef="location.address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
      <td mat-cell *matCellDef="let row"> {{ row.location.address }} </td>
    </ng-container>

    <ng-container matColumnDef="location.stateId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UF </th>
      <td mat-cell *matCellDef="let row"> {{ row.location.stateId }} </td>
    </ng-container>

    <ng-container matColumnDef="location.neighborhood">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </th>
      <td mat-cell *matCellDef="let row"> {{ row.location.neighborhood }} </td>
    </ng-container>

    <ng-container matColumnDef="location.zipCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CEP </th>
      <td mat-cell *matCellDef="let row"> {{ row.location.zipCode  | mask: '00.000-000' }} </td>
    </ng-container>

    <ng-container matColumnDef="accountable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsável </th>
      <td mat-cell *matCellDef="let row"> {{ row.accountable }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
      <td mat-cell *matCellDef="let row"> {{ row.status ? 'Ativo' : 'Inativo' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let row" style="width: 40px">
        <button
          mat-button
          [matMenuTriggerFor]="actionMenu"
          [matMenuTriggerData]="{ entityToAction: row }">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actionMenu="matMenu" overlapTrigger="false">
          <ng-template matMenuContent let-entity="entityToAction">
            <button mat-menu-item (click)="goToManageEntity(entity)">
              <mat-icon>edit</mat-icon>
              <span>Atualizar</span>
            </button>
            <button mat-menu-item (click)="goToAffiliated(entity)">
              <mat-icon>group</mat-icon>
              <span>Associados</span>
            </button>
            <button mat-menu-item (click)="deleteEntity(entity)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
