@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
}

.table-full-width,
.form-field-full-width {
  width: 100%;
}

table {
  width: 100%;
}

.title-actions {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .screen-title {
    margin-left: 0;
    margin-right: auto;

    h1 {
      margin-top: 0;
    }
  }

  .actions {
    margin-left: auto;
    margin-right: 0;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

context-menu-content {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
