h1 {
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: -0.09375rem;
}

h2 {
  font-size: 3.75rem;
  font-weight: lighter;
  letter-spacing: -0.03125rem;
}

h3 {
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0rem;
}
